:root {
  --ff-primary: 'Barlow', sans-serif;
  --ff-secondary: 'Fraunces', serif;

  --fs-body: 18px;

  --color-primary-red: 7, 99%, 70%;
  --color-primary-yellow: 51, 100%, 49%;
  --color-primary-cyan: 167, 40%, 24%;
  --color-primary-blue: 198, 62%, 26%;
  --color-primary-cyan-footer: 168, 34%, 41%;

  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-200: 210, 4%, 67%;
  --color-neutral-300: 232, 10%, 55%;
  --color-neutral-400: 213, 9%, 39%;
  --color-neutral-500: 212, 27%, 19%;
}

h1,
h2,
h3 {
  font-family: var(--ff-secondary);
  font-weight: 900;
}

h1 {
  color: hsl(var(--color-neutral-100));
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 4px;
  text-align: center;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.7rem;
}

p,
li,
a {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: 600;
}

a {
  text-decoration: none;
}

.container {
  min-width: 375px;;
}

/* HEADER */
header {
  height: 540px;
  background: url('/images/mobile/image-header.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.show {
  overflow: visible;
}

header nav {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  z-index: 2;
}

.menu-icon {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  height: 100%;
  cursor: pointer;
}

nav ul {
  display: none;
}

.hidden {
  display: none;
}

.nav-open {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content auto 1fr;
  z-index: 2;
}

.menu-open {
  box-shadow: 3px 3px 4px rgb(0, 0, 0, 0.2);
  background-color: hsl(var(--color-neutral-100));
  list-style: none;
  text-align: center;
  margin-block: 2rem;
  padding-block: 2rem;
  position: relative;
  z-index: 10;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid white;
  right: 0;
  top: -25px;
  z-index: -2;
}

nav ul li {
  color: hsl(var(--color-neutral-300));
  padding-block: 1rem;
  display: block;
  cursor: pointer;
}

nav ul li:hover {
  background-color: hsla(var(--color-neutral-200), 0.4);
}

nav ul li:last-child:hover {
  background-color: transparent;
}

nav ul li a {
  color: inherit;
}

.btn {
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  font-weight: 600;
  color: hsl(var(--color-neutral-500));
  background: hsl(var(--color-primary-yellow));
  padding: 1rem 1.5rem;
  border-radius: 30px;
  box-shadow: 3px 3px 4px rgb(0, 0, 0, 0.2);
}

.btn:hover {
  color: hsl(var(--color-neutral-500));
  background: hsla(var(--color-primary-yellow), 0.8);
  box-shadow: 3px 3px 4px rgb(0, 0, 0, 0.5);
}

.hero {
  margin-top: 4rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero > img {
  margin-top: 3rem;
  margin-inline: auto;
}

/* INTRO */
.intro {
  display: grid;
  grid-template-columns: 1fr;
}

.intro--inner {
  padding: 3.5rem 1.5rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro--title {
  color: hsl(var(--color-neutral-500));
}

.intro--description {
  color: hsl(var(--color-neutral-300));
  margin-block: 2rem;
}

[data-link] {
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(var(--color-neutral-500));
  position: relative;
}

[data-link]::before {
  content: '';
  height: 8px;
  width: 40%;
  position: absolute;
  bottom: 0;
}

[data-intro-image] {
  max-height: 100%;
  height: 310px;
  width: 375px;
  max-width:750px;
}

[data-intro-image='transform'] {
  background-image: url('/images/mobile/image-transform.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

[data-intro-image='stand out'] {
  background: url('/images/mobile/image-stand-out.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

[data-link='transform']::before {
  background-color: hsla(var(--color-primary-yellow), 0.2);
}

[data-link='stand out']::before {
  background-color: hsla(var(--color-primary-red), 0.2);
}

/* SERVICES */
.services {
  display: grid;
}

[data-service] {
  text-align: center;
  height: 600px;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* background-size: contain; */
}

[data-service] p {
  font-size: 16px;
  margin-block: 1rem;
}

[data-service='graphic design'] {
  background: url('/images/mobile/image-graphic-design.jpg') no-repeat center;
  background-size: cover;
  color: hsl(var(--color-primary-cyan));
}

[data-service='photography'] {
  background: url('/images/mobile/image-photography.jpg') no-repeat center;
  background-size: cover;
  color: hsl(var(--color-primary-blue));
}

/* TESTIMONIALS */
.testimonials {
  display: grid;
  padding-block: 3rem;
}

.testimonials h2 {
  font-size: calc(var(--fs-body) * 0.8);
  letter-spacing: 5px;
  text-transform: uppercase;
  color: hsl(var(--color-neutral-200));
  font-weight: 700;
  text-align: center;
}

.card {
  text-align: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:nth-child(2) {
  margin-top: 3rem;
}

.card--image {
  width: 75px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-inline: auto;
}

.card--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1rem;
}

.card--quote {
  color: hsl(var(--color-neutral-400));
}

.card--author {
  margin-top: 2rem;
}

.card--author-name {
  font-family: var(--ff-secondary);
  color: hsl(var(--color-neutral-500));
}

.card--author-title {
  font-size: calc(var(--fs-body) * 0.75);
  color: hsl(var(--color-neutral-200));
}

/* IMAGE GROUP */

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* FOOTER */

footer {
  background-color: hsla(var(--color-primary-cyan-footer), 0.6);
  color: hsl(var(--color-primary-cyan));
  padding: 3.5rem 1.5rem;
}

.footer--container {
  width: 100%;
}

.footer--logo {
  background: url('/images/logo.svg') no-repeat center;
  background-size: contain;
  height: 40px;
  margin-inline: auto;
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
}

footer ul li a {
  color: inherit;
}

footer ul {
  display: flex;
  justify-content: space-between;
  margin-inline: 0.375rem;
  margin-bottom: 5rem;
}

footer ul li {
  list-style: none;
  padding: 0;
}

.social--icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 5rem;
}

/* ----------- */
/* MEDIA QUERY */
/* ----------- */

@media (min-width: 700px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
  }

  /* HEADER */
  header {
    height: 100vh;
    background: url('/images/desktop/image-header.jpg') no-repeat center;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav ul:before {
    display: none;
  }

  nav img {
    width: 200px;
  }

  .menu-icon {
    display: none;
  }

  nav ul li {
    color: hsl(var(--color-neutral-100));
    padding-inline: 1.25rem;
  }

  nav ul li:hover {
    color: hsla(var(--color-neutral-200), 0.8);
    background-color: transparent;
  }

  .btn {
    background: hsl(var(--color-neutral-100));
  }

  .btn:hover {
    color: hsl(var(--color-neutral-100));
    background: hsla(var(--color-neutral-200), 0.4);
  }

  /* INTRO */
  .intro {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  [data-intro-text='transform'] {
    grid-row: 1/2;
  }

  [data-intro-image],
  [data-intro-text] {
    height: 600px;
  }

  [data-intro-image='transform'] {
    background: url('/images/desktop/image-transform.jpg') no-repeat center;
  }

  [data-intro-image='stand out'] {
    background: url('/images/desktop/image-stand-out.jpg') no-repeat center;
  }

  .intro--inner {
    padding: 10rem;
    text-align: left;
  }

  .intro--title {
    font-size: 3.5rem;
  }

  .intro--description {
    margin-block: 1rem;
  }

  [data-link]::before {
    width: 25%;
  }

  /* SERVICES */
  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  [data-service] p {
    font-size: var(--fs-body);
  }

  [data-service='graphic design'] {
    background: url('/images/desktop/image-graphic-design.jpg') no-repeat center;
  }

  [data-service='photography'] {
    background: url('/images/desktop/image-photography.jpg') no-repeat center;
  }

  /* TESTIMONIALS */
  .testimonials {
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem 5rem;
  }

  .testimonials h2 {
    grid-column: 1/-1;
    font-size: calc(var(--fs-body) * 1.1);
    margin-bottom: 4rem;
  }

  .card:nth-child(2) {
    margin-top: 0;
  }

  .card--image {
    margin-inline: auto;
  }

  .card--text {
    margin: 0;
  }

  .card--quote {
    margin-block: 5rem;
    color: hsl(var(--color-neutral-400));
  }

  .card--author {
    margin: 0;
  }

  /* IMAGE GROUP */

  .image-group {
    height: 445px;
    grid-template-columns: repeat(4, 1fr);
  }

  .image-group img {
    height: 100%;
    object-fit: cover;
  }

  /* FOOTER */
  .footer--container {
    width: 20%;
    margin-inline: auto;
  }

  .social--icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 3rem;
  }
}
